<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button onclick="vm.openForm()">Open Form</button> <br>
        <button onclick="vm.reset()">reset</button> <br>
        Nilai a : {{a}} <br>
        Rata Rata : {{avg}}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> 
    <script>
        var vm = new Vue({
            el : "#app",
            data : {
                a : 0,
                n : 0,
            },
            computed : {
                avg : function() {
                    if(this.a === 0){
                        return 0
                    }
                    return this.a / this.n
                },

                fullname : {               
                    get() {
                        return this.firstname + " " + this.lastname;
                    },
                    set(params){
                        let arr = params.split(' ')
                        this.firstname = arr[0]
                        arr.shift()
                        this.lastname = arr.join(' ')
                    }
                }
            },
            methods : {
                openForm : function() {
                    do{
                        this.a = this.a + parseInt(prompt('Masukkan Nilai a, Saat ini = '+ this.a))
                        this.n ++
                    }while(this.a < 10)
                },

                reset : function() {
                    this.a = 0;
                    this.n = 0;
                }
            }
        })
    </script>
</body>
</html>