<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div id="app" class="container-fluid"> 
        <div class="row">
            <div class="col">
                <form @submit.prevent="submitMember()">
                    <p v-if="errors.length">
                        <b>Please Correct The Following error</b>
                        <ul>
                            <li v-for="error in errors">
                                {{error}}
                            </li>
                        </ul>
                    </p>
                    <div class="form-group">
                      <label>Name</label>
                      <input type="text" :disabled="buttonStatus === 'upload'" class="form-control" placeholder="Enter name" v-model="name">
                    </div>
                    <div class="form-group">
                      <label>Address</label>
                      <textarea class="form-control" :disabled="buttonStatus === 'upload'" v-model="address" name="" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div v-if="buttonStatus === 'tambah'">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div v-if="buttonStatus === 'update'">
                        <button type="button" @click="updateMember(idEditMember)" class="btn btn-primary">Update</button>
                        <button  @click="clearForm()" class="btn btn-warning">Clear</button>
                    </div>
                    <div v-if="buttonStatus === 'upload'">
                        <input type="file" name="uploadPhoto" ref="photo">
                        <button type="button" @click="submitPhoto(idUploadMember)" class="btn btn-info">Upload</button>
                        <button  @click="clearForm()" class="btn btn-warning">Clear</button>
                    </div>
                </form>
            </div>
            <div class="col">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="member of members">
                        <td>{{member.id}}</td>
                        <td>{{member.name}}</td>
                        <td>{{member.address}}</td>
                        <td><img width="100px" :src="member.photo ? domain + member.photo : 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png'" alt="profile"></td>
                        <td>
                            <a @click="editMember(member)" class="btn btn-warning">Edit</a>
                            <a @click="removeData(member.id)" class="btn btn-danger">Delete</a>
                            <a @click="uploadPhoto(member)" class="btn btn-info">Upload</a>
                            <a @click="showMember(member)" class="btn btn-info">Tampilkan</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    

    <script>
        var vm = new Vue({
            el : '#app',
            data : {
                members : [],
                domain : 'http://localhost:8000/',
                name : '',
                address : '',
                errors : [],
                idEditMember : null,
                idUploadMember : null,
                buttonStatus : 'tambah'
            },

            methods : {
                validationForm : function(){
                    this.errors = []

                    if(this.name < 5){
                        this.errors.push("Nama Minimal 5 Karakter")
                    }

                    if(this.address < 5){
                        this.errors.push("Address Minimal 5 Karakter")
                    }   
                },

                editMember : function(member){
                    this.name = member.name
                    this.address = member.address
                    this.idEditMember = member.id
                    this.buttonStatus = 'update'
                },

                showMember : function(member){
                    this.name = member.name
                    this.address = member.address
                    this.idEditMember = member.id
                    this.buttonStatus = 'update'

                    const config = {
                            method : 'post',
                            url : `${this.domain}api/member/${id}`,
                            data : formData
                        }
                        axios(config)
                        .then((response) => {
                            this.getMember()
                            this.clearForm()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                },

                updateMember : function(member){
                    this.validationForm()

                    if(this.errors.length === 0){    
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)

                        const config = {
                            method : 'post',
                            url : this.domain+'api/member/'+member,
                            params : {_method:'PUT'},
                            data : formData
                        }
                        axios(config)
                        .then((response) => {
                            this.getMember()
                            this.clearForm()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                    }
                },
                uploadPhoto : function(member){
                    this.name = member.name
                    this.address = member.address
                    this.idUploadMember = member.id
                    this.buttonStatus = 'upload'
                },
                submitPhoto : function(id){
                    let file =  this.$refs.photo.files[0]
                    let formData = new FormData

                    formData.append('photo', file)

                    console.log(file)

                    const config = {
                            method : 'post',
                            url : `${this.domain}api/member/${id}/upload-photo`,
                            data : formData
                        }
                        axios(config)
                        .then((response) => {
                            this.getMember()
                            this.clearForm()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                        

                },

                clearForm : function(){
                    this.name = ''
                    this.address = ''
                    this.idEditMember = null
                    this.buttonStatus = 'tambah'
                },
                submitMember : function(){
                    this.validationForm();

                    let formData = new FormData()
                    formData.append('name', this.name)
                    formData.append('address', this.address)

                    if(this.errors.length === 0){
                        const config = {
                            method : 'post',
                            url : this.domain+'api/member',
                            data : formData
                        }
                        axios(config)
                        .then((response) => {
                            this.getMember()
                            this.clearForm()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                    }
                },
                getMember : function(){
                    const config = {
                        method : 'get',
                        url : this.domain+'api/member',
                    }

                    axios(config)
                    .then((response) => {
                        this.members = response.data
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                },
                removeData : function(id){
                    const config = {
                        method : 'post',
                        url : this.domain+'api/member/'+id,
                        params : {_method :'delete'}
                    }

                    axios(config)
                    .then((response) => {
                            this.getMember()
                            this.clearForm()
                            alert(response.data.message)
                    })
                    .catch((error) => {
                        console.log(error)
                    })
                }
            },
            created(){
                this.getMember();
            }
        })
    </script>
</body>
</html>