<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .hide{
            display: none;
        }

        .show{
            display: inline;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="text" placeholder="put name here" name="name" v-model="cache" >
        <button name="Add" onclick="vm.submitData()">Add</button>
        <button name="Add" onclick="vm.submitData()">Update</button>
        <div id="lists" v-for="list in lists" :key="list.name">
            <span class="list">{{list.name}}  </span><button name="edit" @click="editData(list.name)">Edit</button>|<button name="delet" @click="deleteData(list.name)">Delete</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el : "#app",
            data : {
                msg : '',
                lists : [
                    {
                        "name" : "Muhammad Rijal"
                    },
                    {
                        "name" : "Antonio Subagja"
                    },
                    {
                        "name" : "Moch Zen"
                    }
                ],
                cache : ''
            },
            methods : {
                editData : function(params){
                    var found = this.lists.findIndex(e => e.name === params);
                    this.cache = params
                    lists[found].name = this.cache
                },
                deleteData : function(params) {


                },
                submitData : function (){
                    a = {'name' : this.cache}
                    this.lists.push(a)
                    this.cache = ""
                },
                Updatedata : function (){
                    var found = this.lists.findIndex(e => e.name === this.cache);
                    lists[found].name = this.cache
                },
            } 

        })
    </script>
</body>
</html>